main{
    background-color: #ebebeb;
    margin: 3%;
}

.articulo{
    background-color: #ffffff;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}


.img{
    text-align: center;
    margin-bottom: 20px;
}


p{
    margin: 0%;
}

.titulo{
    font-size: 24px;
}

.precios{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 10px;
}

.descuentos{
    margin-left: 15px;
    font-size: 16px;
    margin-bottom: 15px;
    color: green;
}

.iniciar-sesion{
    text-align: center
}

.login{
    margin-bottom: 20px;
    border: none;
    width: 70%;
    padding: 3%;
    border-radius: 5px;
}

.enviar{
    text-align: center;
    margin-bottom: 20px;
    width: 77%;
    padding: 3%;
    border: none;
    border-radius: 5px;
    background-color: #1259c3;
    color: white;
}

.register{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    width: 70%;
    padding: 3%;
    border-radius: 5px;
}

.registrar{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 77%;
    padding: 3%;
    border: none;
    border-radius: 5px;
    background-color: #1259c3;
    color: white;
}

.fecha_de_nacimiento{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    width: 70%;
    padding: 3%;
    border-radius: 5px;
}

.perfil_del_usuario{
    margin-left: 10%;
    margin-bottom: 20px;
}

.interes{
    font-size: 24px;
}

.titulo_register{
    font-size: 24px;
    margin-bottom: 20px;
}

.perfil{
    margin: 20px;
}

.foto{
    margin-top: 20px;
}

.camion > i{
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 13rem;
    margin-left: 1rem;
    color: green;
    border-radius: 60px;
    outline: 1px solid green;
    outline-offset:7px ;
}

.descipcion{
    border-top: 1px solid #ebebeb;
    display: none;
}

.N-producto{
    margin-top: 2rem;
    margin-left: 15px;
}

@media screen and (min-width:768px) {
    .descipcion{
        display: block;
    }

    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    }

@media screen and (min-width:1024px) {
    .descipcion{
        display: block;
    }

    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    }