main{
    background-color: #ebebeb;
    margin: 3%;
}

.articulo{
    background-color: #ffffff;
    width: 100%;
    
    margin-bottom: 10px;
}

.flex-2{
    display: flex;
    flex-wrap: wrap;

}

.descuentos-{
    margin-top: 2px;
}


.img{
    text-align: center;
    margin-bottom: 20px;
}

.img > img{
    max-width: 100%;
}


p{
    margin: 0%;
}

.titulo{
    font-size: 24px;
    margin-top: 50px;
}

.precios{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 10px;
}

.descuentos{
    margin-left: 5px;
    font-size: 16px;
    color: green;
}

.iniciar-sesion{
    text-align: center
}

.login{
    margin-bottom: 20px;
    border: none;
    width: 70%;
    padding: 3%;
    border-radius: 5px;
}

.enviar{
    text-align: center;
    margin-bottom: 20px;
    width: 77%;
    padding: 3%;
    border: none;
    border-radius: 5px;
    background-color: #1259c3;
    color: white;
}

.register{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    width: 70%;
    padding: 3%;
    border-radius: 5px;
}

.registrar{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 77%;
    padding: 3%;
    border: none;
    border-radius: 5px;
    background-color: #1259c3;
    color: white;
}

.fecha_de_nacimiento{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    width: 70%;
    padding: 3%;
    border-radius: 5px;
}

.perfil_del_usuario{
    margin-left: 10%;
    margin-bottom: 20px;
}

.interes{
    font-size: 24px;
}

.titulo_register{
    font-size: 24px;
    margin-bottom: 20px;
}

.perfil{
    margin: 20px;
}

.foto{
    margin-top: 20px;
}

.camion{
    color: green;
    border: 1px solid green;
    position: relative;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    top: -0.5rem;
    margin-left: 80%;
    }

.descipcion{
    border-top: 1px solid #ebebeb;
}

.N-producto{
    margin-top: 1rem;
    margin-left: 15px;
    padding-bottom: 1rem;
}



.banner > img {
    display: none;
    margin-top: -23px;
    margin-left: -23px;
    
}

@media screen and (min-width:768px) {
    .descipcion{
        display: block;
    }

    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45% ;
        margin-left: 0;
    }

    .banner > img {
        display: block;
        width: 106.4%;
    }

    .section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    }


    
@media screen and (min-width:1024px) {
    .descipcion{
        display: block;
    }

    .articulo{
        width: 20% ;
    }
    .banner{
        margin-left: -50px;
        margin-top: -42px;
    }
    .banner > img {
        max-width: 105.3%;
        margin-top: 42px;
    }

    
    }